body {
  background: #eee;
}

.App {
  max-width: 60rem;
  margin: auto;
  padding: 5rem 1rem;
}

h1,
h2 {
  padding: 0.5rem;
}

.App img {
  max-width: 100%;
}

.App .random-entry .entry-content {
  margin: calc(1vw + 0.25rem);
  background: white;
  box-shadow:
    0 0 0 1px #0003,
    0 0.75rem 0.75rem -0.5rem #0004;
  border-radius: 3px;
  padding: 0.5rem;
}

.App .random-entry .entry-content p {
  margin: 0.5rem 0;
  font-size: 0.85rem;
}
