.mason-container {
    position: relative;
    overflow: hidden;
    text-align: left;
}
.mask > .mason-container {
    mask-image: linear-gradient(to top, transparent 1rem, rgba(0, 0, 0, 1.0) 15rem);
    -webkit-mask-image: linear-gradient(to top, transparent 1rem, rgba(0, 0, 0, 1.0) 15rem);
}

.mason-container > * {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    outline: 1px solid;
    padding: .5rem;
}

.mason-container.mason-columns-1 > * { width: 100% }
.mason-container.mason-columns-2 > * { width: 50% }
.mason-container.mason-columns-3 > * { width: 33.3333% }
.mason-container.mason-columns-4 > * { width: 25% }
.mason-container.mason-columns-5 > * { width: 20% }
.mason-container.mason-columns-6 > * { width: 16.6666% }
.mason-container.mason-columns-7 > * { width: 14.2857% }
.mason-container.mason-columns-8 > * { width: 12.5% }
.mason-container.mason-columns-9 > * { width: 11.1111% }
.mason-container.mason-columns-10 > * { width: 10% }
.mason-container.mason-columns-11 > * { width: 9.0909% }
.mason-container.mason-columns-12 > * { width: 8.3333% }
